.log {
  display: flex;
  width: 470px;
  height: 168px;
  padding: 40px 100px 40px 40px;
}
.details {
  height: 150px;
  padding: 18px;
  margin-top: -20px;
  margin-bottom: 10px;
}
.location {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
}
